@page
@model BerrasBio.Pages.Admin.ShowCaseAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ShowCase</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShowCase.Starts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShowCase.Starts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShowCase.AvailableSeats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShowCase.AvailableSeats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShowCase.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShowCase.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShowCase.Salon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShowCase.Salon.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ShowCase.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
