@page
@model BerrasBio.Pages.Admin.ShowCaseAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShowCase[0].Starts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowCase[0].AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowCase[0].Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowCase[0].Salon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ShowCase) {
        
                @if(item.AvailableSeats <= 0)
                {
                 
                    <tr class="bg-danger">
                        <td>
                            @Html.DisplayFor(modelItem => item.Starts)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AvailableSeats)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Movie.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salon.Id)
                        </td>
                        <td>
                            <a class="btn btn-primary disabled"asp-page="../TicketAdmin/Create"asp-route-id="@item.Id">Buy Ticket</a>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Starts)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AvailableSeats)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Movie.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salon.Id)
                        </td>
                        <td>
                            <a class="btn btn-primary"asp-page="../TicketAdmin/Create"asp-route-id="@item.Id">Buy Ticket</a>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
                
        
}
    </tbody>
</table>
